<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Twitter Clone developed with rails</a>
    by <a href="http://www.facebook.com/mujarot.jarot">Ali Sulas Hidayat</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>